# .gitignore

# Ignore environment variables
env.sh

# Ignore Python cache files
__pycache__/

# Ignore Python virtual environments
venv/
env/

# Ignore .DS_Store on MacOS
.DS_Store

# Ignore .vscode folder
.vscode/

# Ignore data.json
data.json

# Ignore error.log
error.log