.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading {
  height: 40px;
  padding-top: 100px;
}
.home-text02 {
  top: 200px;
  left: 0px;
  right: 0px;
  width: 464px;
  height: 250px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
