.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-image {
  top: 300px;
  left: 0px;
  right: 0px;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-text {
  top: 240px;
  left: 0px;
  right: 0px;
  width: 464px;
  height: 250px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
}
